*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    height: 20%;
    background-color: white;
    border: solid 0.5px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: darkslateblue;
    color: white;
}
a{
    margin-left: 3px;
    text-decoration: none;
    transition: all 0.8s;
}
a:hover{
    color: blue;
}

.ant-table-wrapper .css-dev-only-do-not-override-ixblex{
    overflow: auto;
}
.Sign{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    flex-wrap: wrap;
}
.Sign-img img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    animation: moveImg 2s infinite;
}
.Sign-content{
    padding: 100px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;
}
.Sign-content h1{
    padding: 30px 0 ;
    text-align: center;
}
.Sign-content input{
    padding: 5px 10px 5px 40px;
    line-height: 20px;
    display: block;
    font-size: 13px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9C9C9C;
    
}
.form-input{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}
.iconForm{
    position: absolute;
    left: 11px;
    font-size: 22px;    
    color: #9400D3;
}
.button-Sign{
    margin: 10px 0;
    display: block;
    width: 100%;
    background-color: #9400D3;
    color: white;
    font-size: 20px;
}
.icon-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-contact span{
    color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;

}
.SignUp{
    max-width: 560px;
    margin: auto;
    margin-top: 100px;
}
.iconLogo img{
    width: 50px;
    border-radius: 50%;
}
.navbars {
    display: flex;
    align-items: center;
    padding: 40px 30px 10px 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav ul{
    display: flex;
}
.nav li{
    display: block;
}
.nav-textMenu{
    position: relative;
    margin: 0 20px;
    font-size: 20px;
    color: #9400D3;
}
.nav-textMenu::before{
    content: "";
    position: absolute;
    top: 50px;
    height: 5px;
    width: 0px;
    background-color: green;
    transition: all 0.5s;
}
.nav-textMenu:hover::before{
    width: 100%;
}
.nav .active::before{
    content: "";
    position: absolute;
    top: 50px;
    height: 5px;
    width: 100%;
    background-color: green;
}
.nav-input{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-input img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.creactProject {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}
.form-inputProject{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.form-inputProject input,
.form-inputProject textarea{
    margin: 10px 0;
    padding: 10px 0px 10px 5px;
    line-height: 20px;
    display: block;
    font-size: 13px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9C9C9C;
}
.projectButton{
    background-color: #9C9C9C;
    color: white;
}
.projectButton1{
    background-color: #1C86EE;
    color: white;
}
.getProject{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
.getProject-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.getProject-title button{
    background-color: blue;
    color: white;
}
.input-project{
    margin-bottom: 40px;
    position: relative;
}
.input-project input{
    padding: 5px 42px 5px 5px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #9C9C9C;
}
.iconInput-project{
    position: absolute;
    font-size: 22px;
    color: #9400D3;
    left: 160px;
    top: 2px;
}
.errors-Vali{
    color: red;
    font-size: 15px;
}
.buttonMembers{
    border-radius: 50%;
    padding: 5px;
    background-color: yellow;
    font-size: 12px;
    width:30px;
}
.text-title{
    font-size: 20px;
    color: #B5B5B5;
    padding: 10px
}
.creactProject-title .active{
    color: #1C86EE;
}
@keyframes moveImg {
    0% {
        transform: rotate(4deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-4deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(4deg) translate(2px,2px)
    }
}
@media only screen and (max-width: 600px) {
    .Sign-content{
        padding: 40px;
    }
    .Sign-img img{
        height: 360px;
    }
    .navbars{
        padding: 7px 10px 19px;
    }
    
}